@model Web_FIA44_CRUD_einer_1_zu_N.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Create";
}



<h4 class="text-center p-3 mb-2 bg-secondary text-info">Neuen Artikel erstellen</h4>
<hr />
<div class="row">
    <div class="d-flex justify-content-center">
        <form asp-action="Create" method="post">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label asp-for="Article.ArticleName"></label>
                <input asp-for="Article.ArticleName" class="form-control" />
                <span asp-validation-for="Article.ArticleName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Article.Price"></label>
                <input asp-for="Article.Price" class="form-control" />
                <span asp-validation-for="Article.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Article.Description"></label>
                <input asp-for="Article.Description" class="form-control" />
                <span asp-validation-for="Article.Description" class="text-danger"></span>
            </div>
            <br />
            <div class="dropdown">
                @* <label asp-for="DropDownValue"></label> *@
                <select asp-for="DropDownValue" asp-items="Model.DropDownList" class="btn btn-secondary dropdown-toggle">
					<option value="">Kategorie auswählen</option>
				</select>
                @* <span asp-validation-for="DropDownValue" class="text-danger"></span> *@
            </div>
            <br />


			<button type="submit" class="btn btn-primary">Artikel hinzufügen</button>
            <a class="btn btn-outline-secondary" asp-action="AIndex">Zurück zur Übersicht</a>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
