@model Web_FIA44_CRUD_einer_1_zu_N.Models.Category

@{
    ViewData["Title"] = "CreateCategory";
}



<h4 class="text-center p-3 mb-2 bg-secondary text-info">Neue Kategorie erstellen</h4>
<hr />
<div class="row">
    <div class="d-flex justify-content-center">
        <form asp-action="CreateCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="CatName" class="control-label text-dark text-center"></label>
                <br />
                <input asp-for="CatName" class="form-control" />
                <span asp-validation-for="CatName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
				<input type="submit" value="Kategorie erstellen" class="btn btn-primary" />
                <a class="btn btn-outline-secondary" asp-action="CIndex">Zurück zu Kategorieliste</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
